<div class="container">
    <div id="login_container">
    <div class="login_title">ログイン</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="login_form" style="float:left;">
        <form class="form-horizontal">
          <div class="form-group" style="margin-bottom:0px;">
            <label class="field" style="margin-bottom:0px;">
              <%= f.label :email, "メールアドレス" %>
            </label>
            <div class="">
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group" style="margin-bottom:0px;">
            <label class="field" style="margin-bottom:0px;">
              <%= f.label :password, "パスワード" %>
            </label>
            <div class="">
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group" style="margin-bottom:0px;">
            <% if devise_mapping.rememberable? -%>
              <div class="field" style="margin-bottom:0px;">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          </div>
          <div id="login_action">
            <%= f.submit "ログイン", class: 'btn btn-primary btn-s' %>
          </div>
        </form>
      </div>
    <% end %>
    <div class="links">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
